    <!-- Fixed navbar -->
      <div id='main_content'>
        <div id='main_page' class='container-fluid'>
          <div class="page-header">
            <h1>Welcome to blockchain</h1>
          </div>
          
          <div class='row'>
            <div class='col-xs-12'>
              <table id='table_blocks' class="table table-striped">
                <tbody>
                  <tr>
                    <th>Height</th>
                    <th>Age</th>
                    <th>Transactions</th>
                    <th>Hash</th>
                    <th>Size (kB)</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class='row'>
            <div class='col-xs-6'>
              <div style="min-height:545px">
                <table id='table_mempool' class="table table-striped">
                <tbody>
                  <tr>
                    <th>Latest Transactions</th>
                  </tr>
                </table>
              </div>
            </div>
            <div class='col-xs-6'>
            </div>
            
          </div>

        </div>
        <div id='block_page' class='container-fluid'>
        </div>
        <div id='tx_page' class='container-fluid'>
        </div>
        <div id='addr_page' class='container-fluid'>
        </div>
      </div>  
	<script src='/js/main.js'></script>